footer {
  background-color: #D9D9D9;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-letter {
  color: black; 
  font-size: 12px; 
  font-family: Ubuntu; 
  font-weight: 700; 
  word-wrap: break-word;
}

.footer-info {
  color: black; 
  font-size: 12px; 
  font-family: Ubuntu; 
  word-wrap: break-word;
}
